REACT_APP_SERVER_DOMAIN=
REACT_APP_CLOUDINARY_BASE_URL=https://api.cloudinary.com/v1_1/dozecpgko/image/upload
REACT_APP_CLOUDINARY_CLOUD_NAME=dozecpgko 
REACT_APP_CLOUDINARY_PRESET=upload-1
REACT_FORMIK_SECRET=super_secret_formik_key_99887