MONGO_URI=
JWT_SECRET=
EMAIL_USER=
EMAIL_PASS=
EMAIL_FROM=Doctor Appointment Support
EMAIL_SUB=Password Reset for your Doctor Appointment Account
EMAIL_TEXT=Click here to reset your password: https://medi-track-sable.vercel.app/resetpassword/
CLIENT_URL=https://medi-track-sable.vercel.app
NEXT_PUBLIC_SERVER_DOMAIN=https://medi-track-sable.vercel.app
NEXT_PUBLIC_CLOUDINARY_PRESET=
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=
NEXT_PUBLIC_CLOUDINARY_BASE_URL=
NEXT_PUBLIC_REACT_FORMIK_SECRET=
