MONGO_URI=
JWT_SECRET=
EMAIL_USER=
EMAIL_PASS=
EMAIL_FROM=Doctor Appointment Support
EMAIL_SUB=Password Reset
EMAIL_TEXT=Your reset link:
NEXT_PUBLIC_SERVER_DOMAIN=
NEXT_PUBLIC_CLOUDINARY_PRESET=
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=
NEXT_PUBLIC_CLOUDINARY_BASE_URL=
NEXT_PUBLIC_REACT_FORMIK_SECRET=
